h1{
  color: palevioletred;
  font-size:  50px;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 3px 3px 3px gray;
  letter-spacing: 5px;
}

/* p {
  text-indent: 60px ;
} */

ol li {
  color:darksalmon;
}

#current_page {
  color:black;
}

.nav_links {
  color: darksalmon;
  text-decoration: none;
}

table {
  empty-cells: hide;
  /* border-collapse: collapse; */
  /* border-spacing: 10px 15px; */

}

*{
  font-family: Arial, Helvetica, sans-serif;
}

ol > li {
  /* list-style-type: normal;
  list-style-position: inside; */
  list-style: lower-alpha;
}

nav {
  text-align: center;
  background-color: paleturquoise;
}

.abox {
  height: 150px;
  width:  150px;
  background-color: pink;
  padding: 20px;
  /* margin-bottom: 20px; */
  border: 15px solid black;
  border-radius: 50px;
  margin: 50px;
  /* overflow: scroll; */
  /* box-sizing: content-box; */
  box-shadow: 10px 10px 0px salmon;
  /* margin-left: auto;
  margin-right: auto; */
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}

#box1 {
  background-image: url("../images/catface.jpg");
} 

#box6 {
  background-image: url("../images/f396696af26671af4ceaaea85012cb05.jpg");
}


p {
  clear: right;
}

footer {
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  background-color: palevioletred;
  color: white;
}
 .top {
   position: relative;
 }

 .top p {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 40px;
   font-style: oblique;
 }